stylebody{
    font-family: monospace;
    font-size: 13pt;
   }
    
   th{
    text-align: left;
   }
    
   img{
    width: 100%;
    margin-bottom: 10px;
   }
    
   .kotak{
    border: 1px solid black;
    width: 60%;
    margin: 10px auto;
    padding: 20px;
   }
    
   .judul{
    text-align: center;
           background: yellow;
   }
    
   .blok{
    overflow: hidden;
   }
    
   .kiri{
    width: 20%;
    float: left;
   }
    
   .kanan{
    width: 70%;
    padding:0px 20px; 
    float: left;
   }
    
   @media only screen and (max-width: 768px) {
    .kotak{
    width: 100%;
    padding: 0px;
    border: none;
    }
    
    .kiri{
    width: 100%;
    }
    
    .kanan{
    width: 100%;
    padding: 0;
    }
   }